*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
:root{
    --Dark-Blue : hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Very-Dark-Blue: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body{
    transition: all 0.5s ease-in-out;
}
body.dark{
    background-color: var(--Dark-Blue);
}
.container-fluid{
    box-shadow: 0 1px 23px #c9c2c777;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.toggle.active .fa-sun{
    display: none;
}
.toggle.active .fa-cloud-moon{
    display: block;
    color: white;
}
.toggle{
    position: relative;   
}
.toggle .fa-cloud-moon{
    display: none;

}
.toggle .fa-sun{
    display: block;
}
nav h5{
    margin: 0;
}
body.dark nav h5{
    color: white;
}
@media(max-width:300px){
    nav h5{
        font-size: 16px;
    }
    nav .toggle{
        font-size: 15px;
    }
}
.header .searches{
position: relative;
}
.header .searches input{
    border: none;
    position: relative;
    background: var(--Very-Light-Gray);
    box-shadow: 0 0 10px var(--Dark-Gray);
    padding: 10px 0px 10px 47px;
    border-radius: 5px;
    font-size: 13px;

}
.header .searches input:hover,
.header .searches input:focus{
  outline: none;  

}
.header .searches svg{
    position: absolute;
    left: 17px;
    top: 27%;
    font-size: 16px;
    color: var(--Dark-Gray);
}
.header .list .region{
    border-radius: 5px;
    background: var(--Very-Light-Gray);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
}
.header .list .region svg{
   margin-left: 5px;
}
.header .list .region.active svg{
transform: rotate(180deg);

}
.header .list .filter_region{
    padding: 14px 0 14px 14px;
    margin-top: 5px;
    border-radius: 5px;
    background: var(--Very-Light-Gray);
    font-size: 16px;
    line-height: 1.9;
    z-index: 100;
    position: relative;
    top: 3px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.header .list .visible_hidden{
    visibility: hidden;
    top: 38px;
    opacity: 0;
}
.header .list .filter_region div:hover{
    color:var(--Dark-Gray);
}
@media (min-width:411px){
    .header .sm{
        display: flex;
        justify-content: end;
    }
}
@media (max-width:410px){
    .row{
        flex-wrap: wrap;
    justify-content: center;
    }
    .header .ss{
        width: 100%;
    }
    .header .searches input{
        padding-left: 33px;
    }
    .header .searches svg{
        left: 10px;
    }
    .header .sm{
    width: 100%;
    margin-top: 20px;
    } 
    .header .list{
        width: fit-content;
    }
}


#countries-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
    padding:10px;
   
   
}
@media(max-width:302px){
    #countries-list{
        grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    }
   
}
#countries-list li{
    border: 1px solid var(--Dark-Gray);
    border-radius: 5px;
    padding-bottom: 17px;

}
#countries-list li img{
    height: 231.42px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.5s;
    width: 100%;

}
.back a{
    text-decoration: none;
}
#countries-list li  h6{
    margin-left: 14px;
    color: var(--Very-Dark-Blue);
    padding-top: 10px;
    font-weight: 700;
    
}
#countries-list li div{
    margin-left: 30px;
}
#countries-list li div .span1{
    color: var(--Dark-Blue);
}
#countries-list li div .span2{
    font-size: small;
    color: var(--Dark-Blue);
}
body.dark #countries-list li h6,
body.dark .country-details h6{
    color: var(--White);
}
body.dark #countries-list li div span,
body.dark .country-details li p,
body.dark .country-details li p span,
body.dark .border_counties p{
    color: var(--White);
}
.back a{
    box-shadow: 0 0 10px var(--Dark-Gray);
    padding: 5px 47px;
    color: var(--Dark-Blue);
    border-radius: 5px;
}
body.dark .back a{
    background-color: var(--White);
    
}
.country-details{
    margin-bottom: 10px;
}
.country-details ul{
    list-style-type: none;
}
.country-details .text{
    display: flex;
    justify-content: space-between;
    
}
.country-details h6{
    color: var(--Dark-Blue);
    font-weight: 800;
    font-size: 25px;
    line-height: 4;
}
.country-details li p,.border_counties p{
    font-size: 15px;
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    line-height: 1;
}
.country-details li p span{
    color: var(--Dark-Gray);
}
@media(min-width:100px) and (max-width:550px){
    .country-details .text{
        flex-direction: column;

    }
}
.border_counties {
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.border_counties .borderes button{
    background-color: var(--Very-Light-Gray);
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 0 10px var(--Dark-Gray);
    padding: 3px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
}
@media(min-width:100px) and (max-width:393px){
    .border_counties .borderes{
        display: flex;
        flex-wrap: wrap;
    }
    .border_counties .borderes button{
        margin-bottom: 10px;
    }
}